@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  line-height: 1.5;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}
h2 {
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  font-weight: 500;
}
.container-nav {
  max-width: 1300px;
  margin: 0 auto;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.hero {
  height: 100vh;
  background: #1c1d25;
  color: #fff;
}
.logo {
  font-family: "Sigmar One", cursive;
  height: 40px;
  width: 40px;
}
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
}
ul.show {
  display: block;
}
nav ul li {
  margin-left: 1rem;
}
.hero-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.hero-text {
  padding: 1rem;
  margin-top: 150px;
}
.hero-text p {
  font-size: 1.2rem;
  font-weight: normal;
}

.socials {
  margin-top: 150px;
}

.btn {
  width: 200px;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  background-color: coral;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
}
.btn:hover {
  background: #ef744b;
}
.btn:active {
  background: #a9a9a9;
  color: #808080;
}

.social {
  margin: 20px;
}

/* ********************  ABOUT US  **************************** */

.about {
  padding: 5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.headshot-container {
  display: flex;
  align-items: center;
}

.projects {
  padding: 5rem 1rem;
}
.project-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project-card {
  width: 250px;
  box-shadow: 5px 5px 20px #b1b1b1;
}

.card-text {
  padding: 1rem;
  padding-top: 0;
}
.card-text h5 {
  font-size: 18px;
  color: #181818;
}
.card-text p {
  font-size: 13px;
  font-weight: 500;
  color: #2e2d2d;
}
.card-text a {
  font-size: 13px;
  font-weight: 500;
  color: #2f5cf1;
}
.project-img {
  width: 250px;
  border-bottom: 1px solid #aaa8a8;
}
hr {
  width: 30%;
  margin: 0 auto;
}

footer {
  padding: 5rem 0rem;
  padding-bottom: 0;
}
.footer-body {
  background: #000;
  color: #fff;
  padding: 5rem 1rem;
  text-align: center;
}

.menu {
  display: none;
}

@media (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project-card {
    margin-bottom: 20px;
  }
  ul {
    display: none;
    background: #272830;
    margin: 0;
    width: 100%;
  }
  nav {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .logo {
    display: none;
  }
  .menu {
    display: block;
    border: none;
    background: transparent;
    filter: invert(1);
    outline: none;
    align-self: flex-end;
    cursor: pointer;
  }
  .menu i {
    font-size: 2rem;
  }
}
